{% extends 'UniPublicBundle:Catalog:base.html.twig' %}
{% use 'UniPublicBundle:Catalog:aside.html.twig' %}

{% block meta %}
    <meta name="author" content="uniSign - www.unisign.cl">

    <meta name="keywords" content="{{ page.keywords|raw }}">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ page.socialsharetitle|raw }}" />
    <meta name="twitter:description" content="{{ page.socialsharedescription|raw }}" />
    <meta name="twitter:image" content="{{ page.socialshareimage|raw }}" />

    <meta property="fb:app_id" content="{{ page.fbshareappid|raw }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.domain|raw }}" />
    <meta property="og:site_name" content="{{ page.name|raw }}" />
    <meta property="og:title" content="{{ page.socialsharetitle|raw }}" />
    <meta property="og:description" content="{{ page.socialsharedescription|raw }}" />
    <meta property="og:image" content="{{ page.socialshareimage|raw }}" />
{% endblock %}

{% block body %}
        <div class="container-fluid">
            <div class="row">
                <aside class="col-md-2">
                    {% if page.image %}<a href="{{ path('public_root') }}"><img src="{{ vich_uploader_asset(page, 'imagefile')|imagine_filter('brand_photography_catalog') }}" class="center-block logo"></a>{% endif %}
                    {% block aside %}{{ parent() }}{% endblock %}
                </aside>
                <div class="col-md-10">
                    {% block catalog %}{% endblock %}
                </div>
            </div>
        </div>
{% endblock %}
