{% extends 'UniPublicBundle:Catalog:layout.html.twig' %}

{% block title %}{% if catalog.name %}{{ catalog.name|raw }}{% endif %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/unipublic/css/public-catalog.css') }}">
{% endblock %}

{% block catalog %}
    <div class="row">
        <div class="col-md-12">
            <div class="row row-flex">
                {% for k, catalogitem in catalogitems %}
                    <div class="col-sm-4 col-md-3 col-flex">
                        <div class="thumbnail" data-toggle="modal" data-target="#productModal{{ k }}">
                            {% if catalogitem.product.image %}
                                <img class="product-item-image" src="{{ vich_uploader_asset(catalogitem.product, 'imagefile', 'Uni\\AdminBundle\\Entity\\Product')|imagine_filter('product_image') }}">
                                <div class="caption">
                                    {% if catalogitem.product.name %}<p><strong>{{ catalogitem.product.name|raw }}</strong></p>{% endif %}
                                    {% if catalogitem.product.price %}<strong><mark>{{ icon('tag fa-fw fa-lg') }}$&nbsp;{{ catalogitem.product.price|raw|number_format(0, ',', '.') }}</mark></strong>{% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="modals">

                    {% for k, catalogitem in catalogitems %}
                    <div id="productModal{{ k }}" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg modal-image">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                            <img class="product-item-image img-responsive" src="{{ vich_uploader_asset(catalogitem.product, 'imagefile', 'Uni\\AdminBundle\\Entity\\Product')|imagine_filter('product_image_large') }}">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                            <div id="modal-caption">
                                            {% if catalogitem.product.name %}
                                                <h1>{{ catalogitem.product.name|raw }}</h1>
                                                {% if catalogitem.subcategory %}<small>{{ catalogitem.subcategory|raw }}</small>{% endif %}
                                                {% if catalogitem.product.description %}<p>{{ catalogitem.product.description|raw }}</p>{% endif %}
                                                {% if catalogitem.product.price %}<strong><mark>{{ icon('tag fa-fw fa-lg') }}$&nbsp;{{ catalogitem.product.price|raw|number_format(0, ',', '.') }}</mark></strong>{% endif %}
                                            {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}