{% extends 'UniOfferBundle:Base:layout.html.twig' %}

{% trans_default_domain 'UniOfferBundle' %}

{% block title %}&nbsp;-&nbsp;{{ 'budget.show.title'|trans({'%id%':budget.id}) }}{% endblock %}

{% block offer %}
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'budget.show.title'|trans({'%id%':budget.id}) }}</h1>
                {% block flashbag %}{{ parent() }}{% endblock %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <a type="button" class="btn btn-default" href="{{ path('offer_budget_index') }}">{{ icon('list fa-fw') }}&nbsp;{{ 'budget.index.link'|trans }}</a>
                    <a type="button" class="btn btn-primary" href="{{ path('offer_budget_edit', { 'id': budget.id }) }}">{{ icon('edit fa-fw') }}&nbsp;{{ 'budget.edit.link'|trans }}</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">{{ icon('trash-o fa-fw') }}&nbsp;{{ 'budget.delete.link'|trans }}</button>
                    <a type="button" class="btn btn-warning" href="{{ path('offer_budget_pdf', { 'id': budget.id }) }}" target="_blank">{{ icon('share fa-fw') }}&nbsp;{{ 'budget.show.export'|trans }}</a>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalOrder">{{ icon('bullhorn fa-fw') }}&nbsp;{{ 'order.new.link'|trans }}</button>
                </div>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-show">

            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'budget.show.basic'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <legend><em>{{ 'budget.show.data'|trans }}</em></legend>
                            <dl class="dl-horizontal">
                                <dt>{{ 'budget.form.name'|trans }}</dt>
                                    <dd>{% if budget.name %}{{ budget.name|raw }}{% endif %}</dd>
                                <dt>{{ 'budget.form.number'|trans }}</dt>
                                    <dd>{% if budget.number %}{{ budget.number|raw }}{% endif %}</dd>
                                <dt>{{ 'budget.form.note'|trans }}</dt>
                                    <dd>{% if budget.note %}{{ budget.note|raw }}{% endif %}</dd>
                                <dt>{{ 'budget.form.created_at'|trans }}</dt>
                                    <dd>{% if budget.createdat %}{{ budget.createdat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd 'de' LLLL 'de' y - HH:mm") }}&nbsp;({{ budget.createdat|ago }}){% endif %}</dd>
                                <dt>{{ 'budget.form.updated_at'|trans }}</dt>
                                    <dd>{% if budget.updatedat %}{{ budget.updatedat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd 'de' LLLL 'de' y - HH:mm") }}&nbsp;({{ budget.updatedat|ago }}){% endif %}</dd>
                                <dt>{{ 'budget.form.adjudicated_at'|trans }}</dt>
                                    <dd>{% if budget.adjudicatedat %}{{ budget.adjudicatedat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd 'de' LLLL 'de' y") }}&nbsp;({{ budget.adjudicatedat|ago }}){% endif %}</dd>
                                <dt>{{ 'budget.form.expired_at'|trans }}</dt>
                                    <dd>{% if budget.expiredat %}{{ budget.expiredat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd 'de' LLLL 'de' y") }}&nbsp;({{ budget.expiredat|ago }}){% endif %}</dd>
                            </dl>
                        </fieldset>
                        {% if client %}
                        <fieldset>
                            <legend><em>{{ 'budget.show.client'|trans }}</em></legend>
                            <dl class="dl-horizontal">
                                <dt>{{ 'client.form.name'|trans }}</dt>
                                    <dd>{% if client.name %}{{ client.name|raw }}{% endif %}</dd>
                                <dt>{{ 'client.form.contactname'|trans }}</dt>
                                    <dd>{% if client.contactname %}{{ client.contactname|raw }}{% endif %}</dd>
                                <dt>{{ 'client.form.phone'|trans }}</dt>
                                    <dd>{% if client.phone %}{{ client.phone|raw }}{% endif %}</dd>
                                <dt>{{ 'client.form.email'|trans }}</dt>
                                    <dd>{% if client.email %}{{ client.email|raw }}{% endif %}</dd>
                                <dt>{{ 'client.form.address'|trans }}</dt>
                                    <dd>{% if client.address %}{{ client.address|raw }}{% endif %}</dd>
                            </dl>
                        </fieldset>
                        {% endif %}

                        {% if seller %}
                        <fieldset>
                            <legend><em>{{ 'budget.show.seller'|trans }}</em></legend>
                            <dl class="dl-horizontal">
                                <dt>{{ 'seller.form.name'|trans }}</dt>
                                    <dd>{% if seller.name %}{{ seller.name|raw }}{% endif %}</dd>
                                <dt>{{ 'seller.form.phone'|trans }}</dt>
                                    <dd>{% if seller.phone %}{{ seller.phone|raw }}{% endif %}</dd>
                                <dt>{{ 'seller.form.email'|trans }}</dt>
                                    <dd>{% if seller.email %}{{ seller.email|raw }}{% endif %}</dd>
                            </dl>
                        </fieldset>
                        {% endif %}

                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'budget.show.total'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>{{ 'budget.form.totalcost'|trans }}</dt>
                                <dd>{% if budget.totalcost %}{{ icon('dollar') }}&nbsp;{{ budget.totalcost|raw|number_format(0, ',', '.') }}{% endif %}</dd>
                            <dt>{{ 'budget.form.totallistprice'|trans }}</dt>
                                <dd>{% if budget.totallistprice %}{{ icon('dollar') }}&nbsp;{{ budget.totallistprice|raw|number_format(0, ',', '.') }}{% endif %}</dd>
                            <dt>{{ 'budget.form.totalnormalprice'|trans }}</dt>
                                <dd>{% if budget.totalnormalprice %}{{ icon('dollar') }}&nbsp;<strong>{{ budget.totalnormalprice|raw|number_format(0, ',', '.') }}</strong>{% endif %}</dd>
                            <hr>
                            <dt>{{ 'budget.form.totalsurcharge'|trans }}</dt>
                                <dd>{% if budget.totalsurcharge %}{{ icon('dollar') }}&nbsp;{{ budget.totalsurcharge|raw|number_format(0, ',', '.') }}{% endif %}</dd>
                            <dt>{{ 'budget.form.totalnormalfullprice'|trans }}</dt>
                                <dd>{% if budget.totalnormalfullprice %}{{ icon('dollar') }}&nbsp;<strong>{{ budget.totalnormalfullprice|raw|number_format(0, ',', '.') }}</strong>{% endif %}</dd>
                            <hr>
                            <dt>{{ 'budget.form.totaldiscountprice'|trans }}</dt>
                                <dd>{% if budget.totaldiscountprice %}{{ icon('dollar') }}&nbsp;{{ budget.totaldiscountprice|raw|number_format(0, ',', '.') }}{% endif %}</dd>
                            <dt>{{ 'budget.form.totalnetprice'|trans }}</dt>
                                <dd>{% if budget.totalnetprice %}{{ icon('dollar') }}&nbsp;<strong>{{ budget.totalnetprice|raw|number_format(0, ',', '.') }}{% endif %}</strong></dd>
                            <hr>
                            <dt>{{ 'budget.form.totalmarginamount'|trans }}</dt>
                                <dd>{% if budget.totalmarginamount %}{{ icon('dollar') }}&nbsp;{{ budget.totalmarginamount|raw|number_format(0, ',', '.') }}{% endif %}</dd>
                            <dt>{{ 'budget.form.totaliva'|trans }}</dt>
                                <dd>{% if budget.totaliva %}{{ icon('dollar') }}&nbsp;{{ budget.totaliva|raw|number_format(0, ',', '.') }}{% endif %}</dd>
                            <dt>{{ 'budget.form.total'|trans }}</dt>
                                <dd>{% if budget.total %}{{ icon('dollar') }}&nbsp;{{ budget.total|raw|number_format(0, ',', '.') }}{% endif %}</dd>
                        </dl>
                    </div>
                </div>
            </div>

        </div>
        <!-- /#page-show -->

        <div class="row" id="page-items">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'budget.show.items'|trans }}</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-middle table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="5" class="text-center">{{'item.form.product'|trans }}</th>
                                    <th rowspan="2" class="text-center">{{'item.form.quantity'|trans }}</th>
                                    <th colspan="3" class="text-center">{{'item.form.discount'|trans }}</th>
                                    <th colspan="3" class="text-center">{{'item.form.margin'|trans }}</th>
                                    <th colspan="2" class="text-center">{{'item.form.surcharge'|trans }}</th>
                                    <th colspan="2" class="text-center">{{'item.form.netprice'|trans }}</th>
                                    <th rowspan="2">{{'item.form.totaliva'|trans }}</th>
                                    <th rowspan="2">{{'item.form.total'|trans }}</th>
                                </tr>
                                <tr>
                                    <th>{{'product.form.name'|trans }}</th>
                                    <th>{{'product.form.cost'|trans }}</th>
                                    <th>{{'product.form.price'|trans }}</th>
                                    <th>{{'product.form.netprice'|trans }}</th>
                                    <th>{{'product.form.margin'|trans }}</th>
                                    <th>{{'%'}}</th>
                                    <th>{{'Unit'}}</th>
                                    <th>{{'Total'}}</th>
                                    <th>{{'%'}}</th>
                                    <th>{{'Unit'}}</th>
                                    <th>{{'Total'}}</th>
                                    <th>{{'Unit'}}</th>
                                    <th>{{'Total'}}</th>
                                    <th>{{'Unit'}}</th>
                                    <th>{{'Total'}}</th>
                                </tr>
                            </thead>
                            {% for item in budget.items %}
                                <tr>
                                    <td>{{ item.product }}</td>
                                    <td class="text-right">{{ item.product.cost|raw|number_format(0, ',', '.') }}</td>
                                    <td class="text-right">{{ item.product.price|raw|number_format(0, ',', '.') }}</td>
                                    <td class="text-right">{{ item.product.netprice|raw|number_format(0, ',', '.') }}</td>
                                    <td class="text-right">{{ (100 * item.product.margin)|raw|number_format(0, ',', '.') ~ '%' }}</td>
                                    <td class="text-right">{{ item.quantity }}</td>
                                    <td class="danger text-right">{{ item.discount ~ '%' }}</td>
                                    <td class="danger text-right">{{ item.discountprice|raw|number_format(0, ',', '.') }}</td>
                                    <td class="danger text-right">{{ item.totaldiscountprice|raw|number_format(0, ',', '.') }}</td>
                                    <td class="success text-right">{{ item.margin ~ '%' }}</td>
                                    <td class="success text-right">{{ item.marginamount|raw|number_format(0, ',', '.') }}</td>
                                    <td class="success text-right">{{ item.totalmarginamount|raw|number_format(0, ',', '.') }}</td>
                                    <td class="info text-right">{{ item.surcharge|raw|number_format(0, ',', '.') }}</td>
                                    <td class="info text-right">{{ item.totalsurcharge|raw|number_format(0, ',', '.') }}</td>
                                    <td class="active text-right">{{ item.netprice|raw|number_format(0, ',', '.') }}</td>
                                    <td class="active text-right">{{ item.totalnetprice|raw|number_format(0, ',', '.') }}</td>
                                    <td class="text-right">{{ item.totaliva|raw|number_format(0, ',', '.') }}</td>
                                    <td class="success text-right">{{ item.totalprice|raw|number_format(0, ',', '.') }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-items -->

        <div class="row" id="page-orders">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'budget.show.orders'|trans }}</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-middle table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                    </th>
                                    <th>{{'order.form.name'|trans }}</th>
                                    <th>{{'order.form.number'|trans }}</th>
                                    <th>{{'order.form.note'|trans }}</th>
                                    <th>{{'order.form.updated_at'|trans }}</th>
                                </tr>
                            </thead>
                            {% for order in budget.orders %}
                                <tr>
                                    <td>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default" href="{{ path('offer_order_show', { 'id': order.id }) }}">{{ icon('search fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-primary" href="{{ path('offer_order_edit', { 'id': order.id }) }}">{{ icon('edit fa-fw') }}</a></div>
                                    </td>
                                    <td>{% if order.name %}{{ order.name|raw }}{% endif %}</td>
                                    <td>{% if order.number %}{{ order.number|raw }}{% endif %}</td>
                                    <td>{% if order.note %}{{ order.note|raw }}{% endif %}</td>
                                    <td><span class="fa fa-calendar-o" data-toggle="tooltip" data-placement="left" title="{{ order.updatedat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd LLLL y HH:mm") }}"></span>&nbsp;{{ order.updatedat|ago }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-items -->

        <div id="page-modal">
            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ icon('times') }}</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'budget.delete.title'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-2 text-center">{{ icon('exclamation-triangle fa-5x') }}</div>
                                <div class="col-xs-10"><p>{{ 'budget.delete.message'|trans }}</p></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {{ form_start(deleteForm) }}
                                <button type="submit" class="btn btn-danger pull-right">{{ icon('trash-o fa-fw') }}&nbsp;{{ 'budget.delete.submit'|trans }}</button>
                            {{ form_end(deleteForm) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ icon('times') }}</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'order.new.title'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <fieldset>
                                <legend><em>{{ 'budget.show.data'|trans }}</em></legend>
                                <dl class="dl-horizontal">
                                    <dt>{{ 'budget.form.name'|trans }}</dt>
                                        <dd>{% if budget.name %}{{ budget.name|raw }}{% endif %}</dd>
                                    <dt>{{ 'budget.form.total'|trans }}</dt>
                                        <dd>{% if budget.total %}{{ icon('dollar') }}&nbsp;{{ budget.total|raw|number_format(0, ',', '.') }}{% endif %}</dd>
                                </dl>
                            </fieldset>
                        </div>
                        <div class="modal-body">
                            <fieldset>
                                <legend><em>{{ 'order.show.data'|trans }}</em></legend>
                                {{ form_start(orderForm) }}
                                    {{ form_widget(orderForm) }}
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'order.new.submit'|trans }}</button>
                                    </div>
                                {{ form_end(orderForm) }}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /#page-modal -->

    </div>
    <!-- /#page-wrapper -->
{% endblock %}

